

<nav class="navbar navbar-expand-md navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
         <i class="bi bi-code" width="30" height="30" class="d-inline-block align-top" alt=""></i>
       <span>Argentina programa #YoProgramo</span>
      </a>
<div class="nav col-md-4 justify-content-end list-unstyled d-flex">
 <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-facebook"></i></a></li>
    <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-instagram"></i></a></li>
    <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-twitter"></i></a></li>
  </ul>
</div>
 <div class="col-md-3 text-end">
  <button type="button" class="btn btn-outline-primary me-2">Login</button>
   </div>
 </div>
</nav>
