<div id="first-card">
    <div id="profile background"><video poster="computer.jpg" autoplay playsinline muted loop>
       <source src="Faceless Person Typing on a Computer.webm" type="video/webm">
       <source src="Faceless Person Typing on a Computer.mp4" type="video/mp4">
     </video>
    </div>
   <div class="btn-edit"><a href="#"><i class="bi bi-pen-fill"></i></a></div>
     <div class="overlay">
       <div id="info-data">
       <h1>{{miPorfolio.name}}</h1>
       <div id="info-company">{{miPorfolio.position}}</div>
       <span>{{miPorfolio.ubication}}</span>
       </div>
     </div>
   </div>
